<ion-view view-title="正文内容">
    <ion-content>
        <ion-item class="item item-text-wrap">
            <h2>标题：</h2> {{data.title}}
            <br>
            <br>
            <h2>正文：</h2> {{data.content}}
            <br>
            <br>
            <h2>摘要：</h2>
            <!-- <p ng-bind-html=""></p> -->
            <div ng-repeat="item in data.predict">
                <button ion-button full disabled="">
                    <div ng-if="item.feature_id == 'fairseq_0'">
                        方法1
                    </div>

                    <div ng-if="item.feature_id == 'fairseq_1'">
                        方法2
                    </div>

                    <div ng-if="item.feature_id == 'textrank'">
                        方法3
                    </div>
                </button>
                <ion-list>
                    <ion-item ng-repeat="item_l2 in item.rank| limitTo : 5">
                         {{item_l2[0]}} | <font color="red">score: {{item_l2[1]}} </font>
                    </ion-item>
                    </ion-item-group>
                </ion-list>
                <br>
        </ion-item>
        </div>
    </ion-content>
</ion-view>