<ion-view view-title="正文内容">
    <ion-content>
        <ion-item class="item item-text-wrap">
            <h2>标题：</h2> {{data.title}}
            <br>
            <br>
            <h2>正文：</h2> {{data.content}}
            <br>
            <br>
            <h2>预测：</h2>
            <!-- <p ng-bind-html=""></p> -->
            <div ng-repeat="item in data.predict">
                <button ion-button full disabled="">{{item.feature_id}}</button>
                <ion-list>
                    <ion-item ng-repeat="item_l2 in item.rank">
                        score: {{item_l2[1]}} | {{item_l2[0]}}
                    </ion-item>
                    </ion-item-group>
                </ion-list>
        </ion-item>
        </div>
    </ion-content>
</ion-view>